################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoodleNetCore.User.Service/bin
/MoodleNetCore.User.Service/obj
/MoodleNetCore.User.Api/bin
/MoodleNetCore.User.Api/obj
/.vs
